@font-face {
  font-family:Karloff positive pro ;
  scr:url("Karloff positive pro.ttf");
  }
@font-face {
  font-family:TUMPEZ+KarloffNeutralPro-Reg ;
  scr:url("TUMPEZ+KarloffNeutralPro-Reg");
  }
  @font-face {
  font-family:KarloffNegativeProMed;
  scr:url("KarloffNegativeProMed.ttf")
}
